# Node.js related
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# pnpm related
.pnpm/

# Mac OS related
.DS_Store

# Editor related
.vscode/
.idea/
*.code-workspace

# Logs and build files
*.log
/dist
/build

# Environment variables
.env

# Dependency lock files
yarn.lock
pnpm-lock.yaml

# Miscellaneous
*.zip
*.rar
*.tar.gz
*.gz
*.tgz
*.swp
